/* Made by: Jacob Nguyen
Email: jacobptnguyen@gmail.com */

body{
    display: flex;
    justify-content: center;
    background-color: #F8E2B1;
    margin-top: 100px;
}

.main{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    background-color: #ea125e;
    max-width: 150px;
    border-radius: 10px;
}

.screen{
    color: black;
    background-color: #F8E2B1;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    max-height: 150px;
    max-width: 150px;
    overflow: hidden;
}

.row{
    display: flex;
    justify-content: center;
}

.buttonBody{
    margin-bottom: 10px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: white;
}

.button:active{
    background-color: gray;
}

.bigButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    background-color: white;
}
